.side-menu {
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    width: 270px;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

    .navbar-brand {
        background-color: red;
        width: 100%;
        padding: 0;

        a {
            padding: 15px 15px;
            text-align: left;

            .icon {
                margin-right: 25px;
            }

            color: white;
            font-size: 20pt;
            width: 100%;
            height: 100%;
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .sidemenu-list {
        padding: 0;
        margin-top: 20px;
        width: 100%;
            
        .navbar-nav {
            padding: 0;

            .nav-item {
                margin: 0;
                padding: 0;
                text-align: left;

                .nav-link {
                    padding: 15px 20px;
                    width: 100%;
                    white-space: nowrap;

                    .icon {
                        margin-right: 25px;
                    }

                    .title {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.top-menu {
    padding-left: 100px;
}