<template>

  <section class="midias-section">

    <div class="row my-5">
      <div class="card">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="3">Bem assim</th>
            </tr>
            <tr>
              <th>Assim</th>
              <th>Assim</th>
              <th>Assim</th>
            </tr>
          </thead>

            <tbody>

              <tr>
                <td rowspan="2">Ola</td>
                <td>Tudo</td>
                <td rowspan="2">Bem?</td>
              </tr>

              <tr>
                <td>Teste</td>
              </tr>
            </tbody>
            
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="3">Mídias</th>
            </tr>

            <tr>
              <th>Mídia</th>
              <th>Conteúdo</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody v-for="(midia, index) in midias" v-bind:key="index">

            <tr>
              <td rowspan="2">
                <audio :src="api_url + midia.path" alt="" v-if="midia.type == 'audio'" class="midia" controls></audio>
                <img :src="api_url + midia.path" alt="" v-if="midia.type == 'image'" class="midia" />
                <video :src="api_url + midia.path" alt="" v-if="midia.type == 'video'" class="midia" controls></video>
              </td>

              <td>{{ midia.title }}</td>

              <td rowspan="2">
                <a href="#" class="btn btn-sm btn-primary">
                  <span class="fa fa-eye"></span>
                </a>
                <a href="#" class="btn btn-sm btn-info">
                  <span class="fa fa-edit"></span>
                </a>
                <a href="#" class="btn btn-sm btn-success">
                  <span class="fa fa-trash"></span>
                </a>
              </td>
            </tr>

            <tr>
              <td>{{ midia.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>

</template>

<script>
  export default {
    name: 'Midias',

    data() {
      return {
        api_url: 'http://127.0.0.1:3000',
        midias: []
      }
    },

    mounted() {
      this.getData();
    },

    methods: {
      getData() {
        this.$store.dispatch('getMidias').then(response => {
          let midias = response.data.data;

          this.midias = midias.map(function(key) {
            return {
              title: key.title,
              description: key.description,
              type: key.type,
              path: (key.path ? key.path.substring(1) : key.path),
            };
          });
        }).catch(error => console.log(error));
      }
    }
  }
</script>