<template>
  <main id="app" class="sidemenu-openned">
    <nav class="side-menu navbar navbar-dark bg-dark">
      <div class="navbar-brand">
        <router-link to="/">
          <i class="icon fas fa-tachometer-alt"></i>
          <span class="title">MidGallery</span>
        </router-link>
      </div>

      <div class="sidemenu-list">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <router-link to="/" class="nav-link">
              <span class="icon fa fa-home"></span>
              <span class="title">Página inicial</span>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
    
    <nav class="top-menu navbar navbar-expand-sm navbar-light bg-light">
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <router-link to="/about" class="nav-link">Sobre</router-link>
          </li>
        </ul>
      </div>
    </nav>

    <div class="app-container">
      <router-view/>
    </div>
  </main>
</template>
